.body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.flex--centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex--direct_column {
    flex-direction: column;
}

.form_login {
    background-color: white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 2px 2px #ddd;
    max-width: 400px;
}

.parts_loginForm {
    height: 50px;
    line-height: 35px;
    width: 350px;
}

label.error {
    font-size: 13px;
    color: red;
}

/*
--------------------------------------------------------
Utility
 位置やサイズ、色などの微調整を行うクラスを定義
 凡例：「.margin-l-S」は、margin-leftの小さめの余白
--------------------------------------------------------
*/
.float-l {
    float: left;
}

.float-r {
    float: right;
}

.bg-gray {
    /* background-color: #ddd; */
    background-color: #e6e6e6;
    
}

.border-b {
    border-bottom: 2px solid rgb(0,0,0,0.2);
}



/*
-------------------------------------------------------------------------------------
以下は、各ページのスタイル
-------------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------
/* 
Posts
 mypage_index
--------------------------------------------------------
*/
.mypage_header {
    border-bottom: 2px solid rgb(0,0,0,0.2);
}

#post_table > tbody > tr > td {
    vertical-align: middle;
}

.sidebar_mypage:hover {
    /* background-color: aquamarine; */
    /* opacity: 0.8; */
}

.list_style_none {
    list-style: none;
}
.ul_sidebar_mypage > li {
    /* margin-bottom: 17px; */
    /* padding-left: 15px; */
}
.ul_sidebar_mypage > li > a {
    /* display: block; */
    display: flex;
    height: 45px;
    align-items: center;
    padding-left: 15px;    
    color: black;
    text-decoration-color: black;
    text-decoration: none;
}
.ul_sidebar_mypage > li > a:hover {
    /* background-color: #e6e6e6; */
    /* background-color: #ddd;     */
    background-color:darkgray;
}

.current {
    /* background-color:greenyellow; */
    /* background-color: #ddd; */
    background-color:darkgray;        
}